@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;

}

.navbar {
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
}

.logo {
    flex: 20%;
    margin-left: 10%;
    /* border: 1px solid; */
    text-align: left;
}

.logo h1 {
    font-family: 'Lobster', sans-serif;
    color: #180f4a;
    font-size: 34px;

}

.menu {
    flex: 70%;
    /* border: 1px solid violet; */
    text-align: right;
    padding: 20px;

}

.menu a {
    color: #180f4a;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;

}

.menu a:hover {
    color: #ff2978;
    border-top: 4px solid #180f4a;
}

#botao {
    background-color: #180f4a;
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 5%;

}

#botao:hover {
    border: none;
    background: #ff2978;
}

.header {
    display: flex;
    flex-flow: row wrap;
    height: auto;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    padding-top: 150px;


}

.headline {
    flex: 40%;
    margin-left: 10%;
    /* border: 1px solid black; */

}

.headline h2 {
    font-weight: 900px;
    font-size: 20px;
    color: #180f4a;
    padding: 0;
    margin: 0;

}

.headline p {
    color: gray;
    text-align: left;

}

.contact-btn {
    display: inline-block;
    background: #ff2978;
    padding: 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;


}

.contact-btn:hover {
    background: #180f4a;
}

.img-headline {
    flex: 40%;
    margin-right: 10%;
    /* border: 1px solid darkorchid; */
    text-align: center;
}

section {
    display: inline-block;
    margin-top: 80px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    text-align: center;

}

section h2 {
    width: 100%;
    font-size: 50px;
    margin: 0;
    font-family: 'Lobster', sans-serif;
    font-weight: bold;
    color: #180f4a;
}

.servicos {
    display: inline-block;
    margin-top: 5%;
}

.card {
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 1%;
    border: 1px solid #ff2978;
    border-radius: 10px;
    cursor: pointer;
}

.card:hover {
    background: #ff2978;
    color: white;
    padding: 40px;

}

.card:hover img {
    display: none;

}

.card:hover .card-text {
    display: none;
}

.card:hover .texto-oculto {
    display: block;
}

.texto-oculto {
    display: none;
}

footer {
    margin-top: 100px;
    height: 200px;
    background: #ff2978;
    text-align: center;
    border-top: 5px solid #180f4a;
}

.logo-rodape {
    padding: 30px;

}

.agencia {
    font-family: 'Lobster', sans-serif;
    color: #ffffff;
    font-size: 34px;

}

.whats {
    position: fixed;
    bottom: 15px;
    right: 15px;

}