body {
    background-color: rgb(189, 239, 251);

}

h1 {
    color: green;
    font-size: 44px;
    text-align: center;
    border: 1px dashed black;
    border-radius: 45px;
    background-color: antiquewhite;
    margin-top: 25px;
    letter-spacing: -3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px;
    text-shadow: 5px 3px 5px rgb(0, 0, 0);
    box-shadow: 1px 3px 5px rgb(0, 0, 0);
    ;
}

ul {
    background-color: black;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a,
.drop-botao {
    display: inline-block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;

}

li a:hover,
.drop:hover,
.drop-botao:hover {
    background-color: blueviolet;
}


li .drop {
    display: inline-block;
}

.drop-content {
    display: none;
    position: absolute;
    background: rgb(214, 167, 255);
    width: 150px;

}

.drop-content a {
    color: black;
    display: block;
    text-align: left;
    text-decoration: none;
    border: 1px solid blueviolet;
}

.drop:hover .drop-content {
    display: block;
}

.drop-content a:hover {
    color: aliceblue;
}

.imagem {
    box-shadow: 1px 8px 16px rgb(0, 0, 0);

}

.item1 {
    text-align: center;
}

.flex-pai {
    background-color: blue;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.flex-pai div {
    background-color: white;
    border: 1px solid white;
    margin: 5px;
    padding: 20px;

}